* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;
  max-width: 100%;
  overflow-x: hidden;
}
/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {
  margin: 0;
}

/* ensures that older browsers will display HTML5 elements correctly */
#live-game {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: none;
}

#player {
  position: absolute;
  background-color: white;
  border: min(5px, 2vw) solid black;
  border-radius: 5%;
  transition: transform 0.1s ease-in-out;
}

.right-skew {
  transform: rotate(15deg);
}

.left-skew {
  transform: rotate(-15deg);
}

.boxes {
  position: absolute;
  background-color: red;
  border: min(5px, 2vw) solid black;
  border-radius: 5%;
}

.start-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -50px;
  margin-left: -100px;
  border: 0;
  background: transparent;
  height: 24px;
  border-color: transparent transparent transparent green;
  transition: 100ms all ease;
  border-style: solid;
  border-width: 37px 37px 37px 60px;
}

.pause-button{
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent black;
  transition: 100ms all ease;
  border-style: double;
  border-width: 0px 0 0px 60px;
}

.redo-button{
  transform: rotate(90deg);
  width: 60px;
  border-style: transparent;
  border-color: transparent;
  font-size: 80px;
  height: 76px;
  background: transparent;
}
