* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* ensures that older browsers will display HTML5 elements correctly */
#live-game {
  position: relative;
/*   width: 100vw;
  height: 100vh; */
  display: none;
  aspect-ratio: 1;
}

#menu {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#player {
  position: absolute;
  background-color: white;
  border: min(5px, 2vw) solid black;
  border-radius: 5%;
  transition: transform 0.1s ease-in-out;
}

#floor {
  position: absolute;
  background-color: gray;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#lava {
  position: absolute;
  opacity: 80%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 87, 15, 0.84);
  z-index: 3;
}

.right-skew {
  transform: rotate(15deg);
}

.left-skew {
  transform: rotate(-15deg);
}

.boxes {
  position: absolute;
  background-color: blue;
  border: min(5px, 2vw) solid black;
  border-radius: 5%;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  transition: 100ms all ease;
  z-index: 3;
}

.pause-button {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 100px;
  z-index: 3;
}

.redo-button {
  position: absolute;
  top: 5px;
  left: 110px;
  width: 100px;
  height: 100px;
  z-index: 3;
}

#whiteSpace1{
  position:absolute;
  z-index: 5;
  background-color: red;
  height: 100vh;
  margin-right: auto;
}
