* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  background: #fff;
  color: #000;
  max-width: 100%;
  overflow-x: hidden;
}
/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */

body {
  margin: 0;
}

/* ensures that older browsers will display HTML5 elements correctly */
#live-game {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: none;
}

#player {
  position: absolute;
  background-color: white;
  border: min(5px, 2vw) solid black;
  border-radius: 5%;
  transition: transform 0.1s ease-in-out;
}

.right-skew {
  transform: rotate(15deg);
}

.left-skew {
  transform: rotate(-15deg);
}

.boxes {
  position: absolute;
  background-color: red;
  border: min(5px, 2vw) solid black;
  border-radius: 5%;
}
